<component name="ArtifactManager">
  <artifact type="war" name="MyBATIS-Guice-DAO-VideorentalServicesLayer:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>MyBATIS-Guice-DAO-VideorentalServicesLayer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="MyBATIS-Guice-DAO-VideorentalServicesLayer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="MyBATIS-Guice-DAO-VideorentalServicesLayer:war exploded" />
    </root>
  </artifact>
</component>